body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.intro {
  border-color: #d3d3d3 !important;
  padding-bottom: 30px;
  margin-bottom: 10px;
  background-image: url("./assets/subtle.jpg");
  background-repeat: repeat;
}
.about-titles {
  margin-left: 10%;
}

.card-style {
  margin: 20px;
  width: 210px;
}

.card-style-image{
  border-radius: 10px;
  width: 200px;
  height: 250px;
  box-shadow: 0px 0px 3px 1px #ccc;
  margin-bottom: 20px;
}

.card-style-image-hp {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding-left: 50px;
  margin-top: 10%;
}

.card-style-info {
  margin-top: 10px;
  min-height: 100px;

}

.card-style-title {
  font-size: 24px;
  margin: 0px;
}

.card-style-subtitle{
  font-size: 16px;
  margin: 0px;
}

.navig-link > *{
  color: black !important;
}

.abt-title {
  color: #ad0000 !important;
}

.header-color {
  background-color: #CE9C9C;
  border-color: #343a40;
}


.sc-widget {
  margin: 0px 30px 20px 30px;
}
.soundcloud-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0;
}
.soundcloud{
  display: grid;
  grid-template-rows: 20px 1fr 40px;
  grid-gap: 40px;
  padding:0;
}

.music-description {
  padding: 40px 60px 30px 5px;
  display: grid;
  grid-template-rows: 60px 150px 150px;
  justify-content: space-between;
}

.about {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-gap: 20px;
  padding: 45px 100px 100px 200px;
}

.btn-secondary{
  background-color: #cc5500 !important;
  border-color:  #cc5500 !important;
}

.spot {
  background-color: green !important;
  border-color:  green !important;

}

.git {
  background-color: black !important;
  border-color:  black !important;
}

.contact-buttons{
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
 
}

.header {
  background-image: url("https://www.wallpapertip.com/wmimgs/220-2208351_day-vintage-new-york-street-photo-wallpaper-hd.jpg");
  margin-bottom: 0%;
  background-repeat: repeat;
}

.header-title {
  margin-left: 20%;
  color: white;
  margin-bottom: 50px;
}

.header-jumbo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 50%;
  margin-top: 5%;
}



.contact-buttons > * {
  height: 39px;
  width: 350px;
}

.contact-title {
  padding: 20px 30px 95px 130px;
  display: grid;
  grid-template-rows: 120px 1fr;
  margin-left: 100px;
}
footer {
  background-repeat: repeat;
}
.contact-header {
  padding-bottom: 0px !important;
}
.intro-home {
  text-align: center;
  padding: 5%;
}